security:
  user:
    password: password
logging:
  level:
    org.springframework.security: INFO
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/newsensedb
    username: root
    password: pass
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
        hibernate:
          current_session_context_class: org.springframework.orm.hibernate4.SpringSessionContext
    